@()
<html>

    <head>

        <title>
            Login
        </title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/app.css")">
    </head>

    <body>
        <div class=formWrap>

            <div class="titleWrap">
                <div class="title"> Login</div>
            </div>
            <input id="username" type="text" placeholder="Email"><br>
            <input id="password" type="password" placeholder="Password"><br>
            <a href="signup.html">
                <div class="btnSignUpWrap">
                    <div class="btnSignUp">Sign Up</div>
                </div>
            </a>
            <button class="btn" id="loginbtn">Login</button>

        </div>
    </body>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="@routes.Assets.versioned("javascripts/login.js")" type="text/javascript"></script>

</html>
