@()
<html>

    <head>

        <title>
            Login
        </title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/app.css")">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>

    <body>
        <div class=statsWrap>

            <div class="titleWrap">
                <div class="title"> Statistics</div>
            </div>
            <div class="chartWrap">
                <div id="piechart" style="width: 600px; height: 300px;"></div>

            </div>
            <button id='backbtn'>Go Back</button>
        </div>
    </body>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="@routes.Assets.versioned("javascripts/stats.js")">


    </script>

</html>
